@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html,
body {
  width: 100%;
  min-height: 100%;
  font-family: "Pretendard", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif;
}

* {
  box-sizing: border-box;
}

.text-3xl-b {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}
.text-3xl-sb {
  font-size: 32px;
  line-height: 42px;
  font-weight: 600;
}

.text-2xl-b {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.text-2xl-sb {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
.text-2xl-m {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}
.text-2xl-r {
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
}

.text-xl-b {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
}
.text-xl-sb {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
.text-xl-m {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}
.text-xl-r {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
}

.text-2lg-b {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}
.text-2lg-sb {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}
.text-2lg-m {
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}
.text-2lg-r {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}

.text-lg-b {
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}
.text-lg-sb {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
.text-lg-m {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}
.text-lg-r {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.text-md-b {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.text-md-sb {
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
}
.text-md-m {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}
.text-md-r {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.text-sm-sb {
  font-size: 13px;
  line-height: 22px;
  font-weight: 600;
}
.text-sm-m {
  font-size: 13px;
  line-height: 22px;
  font-weight: 500;
}

.text-xs-sb {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
.text-xs-m {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}
.text-xs-r {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
